/* defaults */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #C7B7A3;
}

.header {
    background-color: #561C24;
    color: #E8D8C4;
    grid-column: 1/3;
}

.side-bar {
    background-color: #6D2932;
    grid-row: 2/3;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.library {
    grid-row: 2/3;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 25px;
}

body {
    display: grid;
    grid-template: 10% 1fr / 15% 1fr;
}

.book-card {
    background-color: #E8D8C4;
    border: 1px solid black;
    border-radius: 10px;
    height: 175px;
    width: 250px;
    padding: 20px;
    box-shadow: 3px 3px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-card h4 {
    margin-bottom: 1rem;
}

td {
    padding: 3px;
}

button {
    background-color: #E8D8C4;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin-bottom: 25px;
}

button:active {
    background-color: #C7B7A3;
    box-shadow: 0 0 0;
}

label {
    color: #E8D8C4;
    font-size: 1.2rem;
    font-weight: 600;
}

input {
    margin: 5px 0 25px;
    max-width: 200px;
    background-color: #E8D8C4;
    height: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}

#read, #not-read {
    height: 1rem;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
}

.radio {
    /* display: flex;
    flex-direction: column; */
    /* align-items: flex-start; */
}

.radio input {
    margin: 0 25px 0 0;
}

.save {
    font-size: 1.2rem;
    padding: 1rem 2rem;
}

.radio {
    margin-bottom: 25px;
}

.title {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.delete, .status {
    padding: 1px;
    font-size: 1rem;
    border-radius: 0;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 0;
    height: min-content;
}